@import url('https://rsms.me/inter/inter.css');

        html {
            font-family: 'Inter', sans-serif;
            width: 100%;
            height: 100%;
        }

        @supports (font-variation-settings: normal) {
            html {
                font-family: 'Inter var', sans-serif;
            }
        }

        body {
            background: #F3E5F5;
        }

        stitle {
            position: absolute;
            width: 75px;
            height: 29px;
            left: 7px;
            top: 17px;

            font-family: Inter;
            font-style: normal;
            font-weight: 900;
            font-size: 24px;
            line-height: 29px;
            /* identical to box height */

            text-align: center;

            color: #000000;
        }

        stext {
            position: absolute;
            height: 17px;
            left: 6px;
            top: 46px;

            font-family: Inter;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 22px;
            text-align: center;

            color: #000000;
        }

        sb {
            /* deliver status bar */
            position: absolute;
            left: 6px;
            right: 13px;
            height: 16px;
            top: 76px;

            background: #E1BEE7;
            border-radius: 20px;
        }

        cc {
            /* claim job circle */
            position: absolute;
            width: 15px;
            height: 15px;
            left: 3.75%; 
            top: 76px; 

            background: #BA68C8;
            border-radius: 90%
        }

        #ci {
            /* claim job svg */
            position: absolute;
            width: 13px;
            height: 13px;
            left: 4.0625%; 
            top: 77px; 
        }

        cs {
            /* claim job string */
            position: absolute;
            width: 30px;
            height: 15px;
            left: 1.25%; 
            top: 91px; 

            font-family: Inter;
            font-style: normal;
            font-weight: 300;
            font-size: 12px;
            line-height: 15px;
            /* identical to box height */

            text-align: center;

            color: #000000;
        }

        ct_truck {
            /* truck between claimed and taken */
            position: absolute;
            width: 15px;
            height: 15px;
            left: 25.624999999999996%; 
            top: 77px; 
        }

        tc {
            /* take food circle */
            position: absolute;
            width: 15px;
            height: 15px;
            left: 47.8125%; 
            top: 76px; 

            background: #BA68C8;
            border-radius: 90%;
        }

        #ti {
            /* take food image */
            position: absolute;
            width: 13px;
            height: 13px;
            left: 48.4375%; 
            top: 77px; 
        }

        ts {
            /* take job string */
            position: absolute;
            width: 53px;
            height: 15px;
            left: 41.875%; 
            top: 91px; 

            font-family: Inter;
            font-style: normal;
            font-weight: 300;
            font-size: 12px;
            line-height: 15px;
            /* identical to box height */

            text-align: center;

            color: #000000;
        }

        dc {
            /* finish deliver circle */
            position: absolute;
            width: 15px;
            height: 15px;
            left: 89.6875%; 
            top: 76px; 
            border-radius: 90%;

            background: #BA68C8;
        }

        #di {
            /* finsih deliver svg */
            position: absolute;
            width: 13px;
            height: 13px;
            left: 90.3125%; 
            top: 77px; 
        }

        ds {
            /* finish deliver string */
            position: absolute;
            width: 38px;
            height: 15px;
            left: 86.25%; 
            top: 91px; 

            font-family: Inter;
            font-style: normal;
            font-weight: 300;
            font-size: 12px;
            line-height: 15px;
            /* identical to box height */

            text-align: center;

            color: #000000;
        }

        #cti {
            /* truck between claim and deliver */
            position: absolute;
            width: 15px;
            height: 15px;
            left: 25.624999999999996%; 
            top: 77px; 
        }

        notMsg {
            /* notification msg */
            position: absolute;
            width: 213px;
            height: 30px;
            left: 20%; 
            top: 30%; 

            font-family: Inter;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 15px;
            text-align: center;
            color: #000000;
        }

        #passCtn {
            /* ID container for food */
            position: absolute;
            width: 233px;
            height: 110px;
            left: 20%; 
            top: 42%; 

            background: #E1BEE7;
            border-radius: 20px;
            font-family: Inter;
            font-style: normal;
            font-weight: bold;
            font-size: 75px;
            line-height: 91px;
            /* identical to box height */

            text-align: center;
            border: none;
            color: #4A148C;
        }

        #mapCtn {
            position: absolute;
            width: 120px;
            height: 30px;
            left: 33%; 
            top: 70%; 

            background: #E1BEE7;
            border-radius: 20px;
            border: none;

            background: #E1BEE7;
            border-radius: 20px;
            font-family: Inter;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            /* identical to box height */

            text-align: center;

            color: #4A148C;
        }

        #nextCtn {
            position: absolute;
            width: 72px;
            height: 30px;
            left: 72.5%; 
            top: 95%; 

            background: #E1BEE7;
            border-radius: 20px;
            font-family: Inter;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            /* identical to box height */

            text-align: center;
            border: none;
        }

        #tdi {
            position: absolute;
            width: 15px;
            height: 15px;
            left: 69.0625%; 
            top: 76px; 
        }

        #qrCode {
            position: absolute;
            width: 60%;
            height: 32.4%;
            left: 18%; 
            top: 35%; 
        }

        #backCtn {
            position: absolute;
            width: 72px;
            height: 30px;
            left: 1.875%; 
            top: 95%; 

            background: #E1BEE7;
            border-radius: 20px;
            font-family: Inter;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            /* identical to box height */

            text-align: center;
            border: none;
        }